body{
  background: black;
}
img{
  width: 100%;
}
img.fresque{
  width: 100%;
}
a.button{
color: white;
display: block;
text-align: center;
}
video#bgvid {
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/video1.jpg) no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}

section.fresque{
background: linear-gradient(to bottom,black,#da10e0);
}
section.end{
  background: #da10e0;
}
a.buttonf{
  color: white;
  display: block;
  text-align: center;
}
#fresque{
width: 50%;
display: block;
margin: auto;
}
