body{
  background: black;
}
header{
  align-items: center;
  text-align: center;
  font-size: 50px
}
img{
  width: 100%;
}
img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
img.fresque{
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
  border: 10px;
}
a:hover{
  text-shadow:0 0 20px #00FFFC,2px 3px 3px white, 0 0 100px #00D4D1;color:#da10e0;
}
a.button{
font-size: 40px;
display: block;
text-align: center;
}
video#bgvid {
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../images/video1.jpg) no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}

section.fresque{
background: linear-gradient(to bottom,black,#da10e0);
}
section.end{
  background: #da10e0;
}
a.buttonf{
  font-size: 40px;
  display: block;
  text-align: center;
}
#fresque{
width: 50%;
display: block;
margin: auto;
}
