body{
  background: black;
  height: 100%;
    margin: 0;
}
header{
  align-items: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px
}
img{
  width: 100%;
}
img.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
img.fresque{
  width: 100%;
}
a{
  text-decoration: none;
  color: white;
  border: 10px;
}

a.button{
font-size: 40px;
display: block;
text-align: center;
}
video#bgvid {
  width: 100%;
  height: auto;
  z-index: -100;
  background-size: cover;
}
h1{
  text-align: center;
  color: white;
}
h2{
  text-align: center;
  color: white;
}
h3{
  text-align: center;
  color: white;
}
p{
  text-align: center;
  color: white;
}
section.fresque{
background: linear-gradient(to bottom,black,#da10e0);
}
section.end{
  background: #da10e0;
}

#fresque{
width: 50%;
display: block;
margin: auto;
}
svg.svg-filters{
  height: 10px;
}
.nav {
  border: 20px;
  text-align: center;
  font-size: 40px;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  Transition: background-color 0.1s ease-out;
  -webkit-filter: url("#filter");
  filter: url("#filter");
}
.nav:hover {
  text-shadow:0 0 20px #00FFFC,2px 3px 3px white, 0 0 100px #00D4D1;color:#da10e0;
}
.itemshop{
  margin-top: 400px;
}
.hero-image {
width: 100vw;
height: 80vh;

/* Flexbox stuff */
display: flex;
justify-content: center;
align-items: center;

/* Text styles */

/* Background styles */
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-image: url("../images/tattoo.jpg");
}
.hero-image2 {
width: 100vw;
height: 80vh;

/* Flexbox stuff */
display: flex;
justify-content: center;
align-items: center;

/* Text styles */

/* Background styles */
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-image: url("../images/2.jpg");
}
.hero-text {
  color: white;
}
svg#fleche {
display: block;
padding-top: 150px;
margin: auto;
   fill: white;
    width: 5%
}
svg#fleche:hover{
     filter: drop-shadow(0px 5px 5px #00D4D1);
  fill : #da10e0;
}
img.encre{
  float: left;
  margin-top: 150px;
  width: 50%;
  margin-bottom: 200px;
}
h1.txtshop{
  padding-top: 150px;
  text-align: right;
    padding-right: 300px;
}
p.txtshop{
  text-align: right;
  padding-right: 300px;
}
img.machine{
  float: right;
  margin-top: 150px;
  width: 50%;
}
h1.txtshop2{
  padding-top: 150px;
  text-align: left;
    padding-left: 300px;
}
p.txtshop2{
  text-align: left;
  padding-left: 300px;
}
#controles {
  position: relative;
  top: -550px;
}

button {
    display: block;
    align-items: center;
    margin: auto;
    color: white;
    border:none;
    background-color: transparent;
    /* width: 500px; */
    font-size: 50px;
}
